In [1]:
import re
import pandas as pd

In [2]:
# rút trích số nhà từ địa chỉ
f = open('street_addresses.txt')
for line in f:
    line = line.strip()
    regex = r"[0-9]+"
    match = re.search(regex, line)
    if match:
        print(line, "=>", match.group(0))
f.close()

1297 Via Cola di Rie => 1297
93091 Calle della Testa => 93091
2017 Shinjuku-ku => 2017
9450 Kamiya-cho => 9450
2014 Jabberwocky Rd => 2014
2011 Interiors Blvd => 2011
2007 Zagora St => 2007
2004 Charade Rd => 2004
147 Spadina Ave => 147
6092 Boxwood St => 6092
40512 Laogianggen => 40512
1298 Vileparle => 1298
1298 Victoria Street => 1298
198 Clementi North => 198
8204 Arthur St => 8204
9702 Chester Road => 9702
Schwanthalerstr. 7031 => 7031
Rua Frei Caneca 1360 => 1360
20 Rue des Corps-Saints => 20
Murtenstrasse 921 => 921
Pieter Breughelstraat 837 => 837
Mariano Escobedo 9991 => 9991

In [3]:
# rút trích tên đường từ địa chỉ
f = open('street_addresses.txt')
for line in f:
    line = line.strip()
    regex = r"([a-zA-Z]|\s|[-])+"
    match = re.search(regex, line)
    if match:
        print(line, "=>", match.group(0))
f.close()

1297 Via Cola di Rie =>  Via Cola di Rie
93091 Calle della Testa =>  Calle della Testa
2017 Shinjuku-ku =>  Shinjuku-ku
9450 Kamiya-cho =>  Kamiya-cho
2014 Jabberwocky Rd =>  Jabberwocky Rd
2011 Interiors Blvd =>  Interiors Blvd
2007 Zagora St =>  Zagora St
2004 Charade Rd =>  Charade Rd
147 Spadina Ave =>  Spadina Ave
6092 Boxwood St =>  Boxwood St
40512 Laogianggen =>  Laogianggen
1298 Vileparle =>  Vileparle
1298 Victoria Street =>  Victoria Street
198 Clementi North =>  Clementi North
8204 Arthur St =>  Arthur St
Magdalen Centre, The Oxford Science Park => Magdalen Centre
9702 Chester Road =>  Chester Road
Schwanthalerstr. 7031 => Schwanthalerstr
Rua Frei Caneca 1360 => Rua Frei Caneca
20 Rue des Corps-Saints =>  Rue des Corps-Saints
Murtenstrasse 921 => Murtenstrasse
Pieter Breughelstraat 837 => Pieter Breughelstraat
Mariano Escobedo 9991 => Mariano Escobedo

In [4]:
# doc tap tin street_addresses.txt va tao df de luu
f = open('street_addresses.txt')
l = []
for line in f:
    line = line.strip()
    l.append(line)
f.close()

In [5]:
df = pd.DataFrame({'address':l})

In [6]:
df.head()

                   address
0     1297 Via Cola di Rie
1  93091 Calle della Testa
2         2017 Shinjuku-ku
3          9450 Kamiya-cho
4      2014 Jabberwocky Rd

In [8]:
df.tail()

                      address
18       Rua Frei Caneca 1360
19    20 Rue des Corps-Saints
20          Murtenstrasse 921
21  Pieter Breughelstraat 837
22      Mariano Escobedo 9991

In [9]:
def get_house_no(line):
    regex = r"[0-9]+"
    match = re.search(regex, line)
    if match:
        return match.group(0)
    else:
        return None

In [10]:
df['house_no'] = df['address'].map(lambda line: get_house_no(line))

In [11]:
df

                                     address house_no
0                       1297 Via Cola di Rie     1297
1                    93091 Calle della Testa    93091
2                           2017 Shinjuku-ku     2017
3                            9450 Kamiya-cho     9450
4                        2014 Jabberwocky Rd     2014
5                        2011 Interiors Blvd     2011
6                             2007 Zagora St     2007
7                            2004 Charade Rd     2004
8                            147 Spadina Ave      147
9                            6092 Boxwood St     6092
10                         40512 Laogianggen    40512
11                            1298 Vileparle     1298
12                      1298 Victoria Street     1298
13                        198 Clementi North      198
14                            8204 Arthur St     8204
15  Magdalen Centre, The Oxford Science Park     None
16                         9702 Chester Road     9702
17                     Schwanthalerstr. 7031     7031
18                      Rua Frei Caneca 1360     1360
19                   20 Rue des Corps-Saints       20
20                         Murtenstrasse 921      921
21                 Pieter Breughelstraat 837      837
22                     Mariano Escobedo 9991     9991

In [12]:
def get_house_street(line):
    regex = r"([a-zA-Z]|\s|[-])+"
    match = re.search(regex, line)
    if match:
        return match.group(0)
    else:
        return None

In [13]:
df['house_street'] = df['address'].map(lambda line: get_house_street(line))

In [14]:
df

                                     address house_no            house_street
0                       1297 Via Cola di Rie     1297         Via Cola di Rie
1                    93091 Calle della Testa    93091       Calle della Testa
2                           2017 Shinjuku-ku     2017             Shinjuku-ku
3                            9450 Kamiya-cho     9450              Kamiya-cho
4                        2014 Jabberwocky Rd     2014          Jabberwocky Rd
5                        2011 Interiors Blvd     2011          Interiors Blvd
6                             2007 Zagora St     2007               Zagora St
7                            2004 Charade Rd     2004              Charade Rd
8                            147 Spadina Ave      147             Spadina Ave
9                            6092 Boxwood St     6092              Boxwood St
10                         40512 Laogianggen    40512             Laogianggen
11                            1298 Vileparle     1298               Vileparle
12                      1298 Victoria Street     1298         Victoria Street
13                        198 Clementi North      198          Clementi North
14                            8204 Arthur St     8204               Arthur St
15  Magdalen Centre, The Oxford Science Park     None         Magdalen Centre
16                         9702 Chester Road     9702            Chester Road
17                     Schwanthalerstr. 7031     7031         Schwanthalerstr
18                      Rua Frei Caneca 1360     1360        Rua Frei Caneca
19                   20 Rue des Corps-Saints       20    Rue des Corps-Saints
20                         Murtenstrasse 921      921          Murtenstrasse
21                 Pieter Breughelstraat 837      837  Pieter Breughelstraat
22                     Mariano Escobedo 9991     9991       Mariano Escobedo

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   address  23 non-null     object
dtypes: object(1)
memory usage: 312.0+ bytes

In [11]:
df['no'] = df['address'].str.extract('([0-9]+)')

In [14]:
df['street'] = df['address'].str.extract('(([a-zA-Z]|[ ]|[-])+)')[0]

In [17]:
df

,address,house_no,house_street,no,street
0,1297 Via Cola di Rie,1297,Via Cola di Rie,1297,Via Cola di Rie
1,93091 Calle della Testa,93091,Calle della Testa,93091,Calle della Testa
2,2017 Shinjuku-ku,2017,Shinjuku-ku,2017,Shinjuku-ku
3,9450 Kamiya-cho,9450,Kamiya-cho,9450,Kamiya-cho
4,2014 Jabberwocky Rd,2014,Jabberwocky Rd,2014,Jabberwocky Rd
5,2011 Interiors Blvd,2011,Interiors Blvd,2011,Interiors Blvd
6,2007 Zagora St,2007,Zagora St,2007,Zagora St
7,2004 Charade Rd,2004,Charade Rd,2004,Charade Rd
8,147 Spadina Ave,147,Spadina Ave,147,Spadina Ave
9,6092 Boxwood St,6092,Boxwood St,6092,Boxwood St
10,40512 Laogianggen,40512,Laogianggen,40512,Laogianggen
11,1298 Vileparle,1298,Vileparle,1298,Vileparle
12,1298 Victoria Street,1298,Victoria Street,1298,Victoria Street
13,198 Clementi North,198,Clementi North,198,Clementi North
14,8204 Arthur St,8204,Arthur St,8204,Arthur St
15,"Magdalen Centre, The Oxford Science Park",None,Magdalen Centre,NaN,Magdalen Centre
16,9702 Chester Road,9702,Chester Road,9702,Chester Road
17,Schwanthalerstr. 7031,7031,Schwanthalerstr,7031,Schwanthalerstr
18,Rua Frei Caneca 1360,1360,Rua Frei Caneca,1360,Rua Frei Caneca
19,20 Rue des Corps-Saints,20,Rue des Corps-Saints,20,Rue des Corps-Saints
20,Murtenstrasse 921,921,Murtenstrasse,921,Murtenstrasse
21,Pieter Breughelstraat 837,837,Pieter Breughelstraat,837,Pieter Breughelstraat
22,Mariano Escobedo 9991,9991,Mariano Escobedo,9991,Mariano Escobedo